#maindiv {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#header {
	top: 0;
	right: 0;
	left: 0;
	background-color: green;
	position: fixed;
	box-shadow: 0px 2px grey;
	z-index: 100;

}

#menu{
	float: left;
	margin-left: 3em;
    margin-right: 4em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#cerca{
	float: left;
	margin-left: 14em;
    margin-right: 4em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#carrello{
	float: left;
	margin-left: -1em;
    margin-right: 4em;
    margin-top: 1em;
    margin-bottom: 1em;
}



#logo{
	float: left;
}

#footer{
	bottom: 0;
	right: 0;
	left: 0;
	background-color: green;
	position: fixed;
	box-shadow: 0px 0px 0px 2px grey;


}

.bottom{
	float: left;
	margin-left: 7em;
    margin-right: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#titolo{
	font-size: 3em;
	color: white;
}

#vetrina{
	border: 5px solid red;
	right: 0;
	left: 0;
	position: absolute;
	top: 160px;

}

.nome{
	font-size: 36px;
	color: green;
	font-weight: bold;

}

.prezzo{
	font-size: 33px;
}

center{
	margin-left: 0em;
}

.prodotti{
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: 1em;
	border: 2px solid grey;
	max-width: 27em;
	float: left;
}

.distanza{
	margin: 0em 0em 0em 1em;
}